<span xmlns="http://www.w3.org/1999/xhtml"
     xmlns:py="http://genshi.edgewall.org/"
     xmlns:xi="http://www.w3.org/2001/XInclude">
  <ul>
    <li>
      <input type="checkbox" name="legacy_notify_component_owner" checked="${data.component or None}"/>
      Notify me of changes to tickets that belong to components that I own.
    </li>        
    <li>
      <input type="checkbox" name="legacy_notify_owner" checked="${data.owner or None}"/>
      Notify me of changes to tickets that I own.
    </li>        
    <li>
      <input type="checkbox" name="legacy_notify_reporter" checked="${data.reporter or None}"/>
      Notify me of changes to tickets that I reported.
    </li>        
    <li>
      <input type="checkbox" name="legacy_notify_updater" checked="${data.updater or None}"/>
      Notify me when I update a ticket.
    </li>        
  </ul>
</span>
