<span xmlns="http://www.w3.org/1999/xhtml"
     xmlns:py="http://genshi.edgewall.org/"
     xmlns:xi="http://www.w3.org/2001/XInclude">
  <ul>
    <li py:if="always_notify_component_owner">
      <input type="checkbox" name="legacy_notify_component_owner" checked="${legacy_notify_component_owner}" value="1" />
      Notify me of changes to tickets that belong to components that I own.
    </li>        
    <li py:if="always_notify_owner">
      <input type="checkbox" name="legacy_notify_owner" checked="${legacy_notify_owner}" value="1" />
      Notify me of changes to tickets that I own.
    </li>        
    <li py:if="always_notify_reporter">
      <input type="checkbox" name="legacy_notify_reporter" checked="${legacy_notify_reporter}" value="1" />
      Notify me of changes to tickets that I reported.
    </li>        
    <li py:if="always_notify_updater">
      <input type="checkbox" name="legacy_notify_updater" checked="${legacy_notify_updater}" value="1" />
      Notify me when I update a ticket.
    </li>        
  </ul>
</span>
