<span xmlns="http://www.w3.org/1999/xhtml"
     xmlns:py="http://genshi.edgewall.org/"
     xmlns:xi="http://www.w3.org/2001/XInclude">
     Subscribe to user account announcements.

     <ul>
         <li><input type="checkbox" name="acct_mgr_created_subscription" checked="${created}" value="1" /> Send me announcements when new users are created.</li>
         <li><input type="checkbox" name="acct_mgr_change_subscription" checked="${change}" value="1" /> Send me announcements when users accounts are changed.</li>
         <li><input type="checkbox" name="acct_mgr_delete_subscription" checked="${delete}" value="1" /> Send me announcements when users accounts are deleted.</li>
     </ul>
</span>
