<span xmlns="http://www.w3.org/1999/xhtml"
     xmlns:py="http://genshi.edgewall.org/"
     xmlns:xi="http://www.w3.org/2001/XInclude">
    
  <p>
    In addition to other methods that may notify you of changes to Wiki pages, you may list here
    pages that are of interest to you. Each page should be on a separate line.
  </p>
  
  <p>
    You may use wild cards, so that if you want to hear about any page that starts with the name 'Trac'
    you would enter on it's own line: <strong>Trac*</strong>
  </p>
  
  <p>
    To receive a notice about all wiki changes, simply include a <strong>*</strong> by itself.
  </p>
  
  <textarea name="wiki_interests" style="width:300px; height: 100px;">${wiki_interests}</textarea>
</span>
